@font-face {
   font-family: "Open Sans";
   src: local("OpenSans-Light"),
      url('../fonts/OpenSans-Light.ttf') format('truetype');
   font-style: normal;
   font-weight: 300;
}

@font-face {
   font-family: "Open Sans";
   src: local("OpenSans-Regular"),
      url('../fonts/OpenSans-Regular.ttf') format('truetype');
   font-style: normal;
   font-weight: 400;
}

@font-face {
   font-family: "Open Sans";
   src: local("OpenSans-Medium"),
      url('../fonts/OpenSans-Medium.ttf') format('truetype');
   font-style: normal;
   font-weight: 500;
}

@font-face {
   font-family: "Open Sans";
   src: local("OpenSans-SemiBold"),
      url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
   font-style: normal;
   font-weight: 600;
}

@font-face {
   font-family: "Open Sans";
   src: local("OpenSans-Bold"),
      url('../fonts/OpenSans-Bold.ttf') format('truetype');
   font-style: normal;
   font-weight: 700;
}

@font-face {
   font-family: "Open Sans";
   src: local("OpenSans-ExtraBold"),
      url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
   font-style: normal;
   font-weight: 800;
}

@font-face {
   font-family: "Playfair Display";
   src: local("PlayfairDisplay-Regular"), 
      url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype');
   font-style: normal;
   font-weight: 400;
}

@font-face {
   font-family: "Playfair Display";
   src: local("PlayfairDisplay-Bold"), 
      url('../fonts/PlayfairDisplay-Bold.ttf') format('truetype');
   font-style: normal;
   font-weight: 700;
}

@font-face {
   font-family: "Playfair Display";
   src: local("PlayfairDisplay-Black"), 
      url('../fonts/PlayfairDisplay-Black.ttf') format('truetype');
   font-style: normal;
   font-weight: 900;
}




html {
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

body {
   font-family: 'Open Sans', sans-serif;
   font-size: 14px;

   color: #fff;
   background-color: #1D1D1D;
}

a {
   color: #fff;
   text-decoration: none;
}



.container {
   width: 100%;
   padding: 0 30px;
   margin: 0 auto;
}



.header {
   min-width: 1170px;
   border-bottom: 1px solid #d9d9d9;
}

.header__wrapper {
   width: 1170px;
   padding: 10px 0;
   margin: 0 auto;
}

.header__inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
   min-height: 50px;
}

.logo {
   font-family: 'Playfair Display', serif;
   font-size: 24px;
   font-weight: 700;
   text-transform: uppercase;
   color: #fff;
}



.menu__list {
   display: flex;

   font-size: 16px;
}

.menu__link {
   padding: 10px 25px;

   border-radius: 0px;
   text-decoration: none;
   cursor: pointer;
   transition: .1s;
}

.menu__link:hover {
   color: #cfcfcf;
}



.btn {
   padding: 10px 20px;
   border: none;

   font-size: 16px;
   color: #fff;
   border-radius: 0;
   background: rgba(187, 107, 253, 1);
   cursor: pointer;
}



.title {
   font-family: 'Playfair Display', serif;
}


.top {
   width: 1170px;
   padding: 100px 0 25px;
   margin: 0 auto;
}

.top__title {
   font-size: 65px;
   font-weight: 900;
   text-align: center;
}

.top__descr {
   margin: 30px 0 0;

   font-family: 'Open Sans', sans-serif;
   font-size: 25px;
   font-weight: 400;
   line-height: 1.4;
   text-align: center;
}



.big-picture {
   min-width: 1170px;
   border-bottom: 1px solid #d9d9d9;

}

.big-picture__wrapper {
   width: 1170px;
   padding: 65px 0 24px;
   margin: 0 auto;
}

.big-picture__inner {
   min-height: 374px;

   position: relative;
}

.big-picture__bg {
   width: 1170px;
   height: 350px;
   margin-left: -35px;
   background: #fff url(../images/bg.jpg) center / cover no-repeat;
}

.big-picture__btn {
   max-width: 220px;
   margin: 0 auto;
   padding: 15px 40px;
   margin: 0 auto;

   position: absolute;
   left: 0;
   right: 0;
   bottom: 0;
}


.about {
   padding: 70px 0 0;
}